﻿@model personal_trainers.ViewModels.ExperienceViewModel
<div id="Experience">
    <div class="form-group">
        @Html.LabelFor(m=>m.Position, new {@class="control-label col-md-2"})
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Position, new {@class="form-control"})
            @Html.ValidationMessageFor(m => m.Position)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.StartDate, new {@class="control-label col-md-2"})
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.StartDate, new {style="width:100%", placeholder="Start Date"})
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
        @Html.LabelFor(m=>m.EndDate, new {@class="control-label col-md-2"})
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.EndDate, new {style="width:100%", placeholder="End Date"})
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
    </div>
    <div class="form-group">
            @Html.LabelFor(m=>m.Place, new {@class="control-label col-md-2"})
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Place, new {@class="form-control"})
            @Html.ValidationMessageFor(m => m.Place)
        </div>
    </div>
    <div class="form-group">
        <a href="#" class="pull-right col-md-10" style="margin: 15px;">
            <span class="glyphicon glyphicon-minus-sign"></span>
            Delete Experience</a>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#StartDate").kendoDatePicker();
            $("#EndDate").kendoDatePicker();
        });
    </script>

    }