﻿@model personal_trainers.Models.LocalPasswordModel

<div class="form-group">
    @Html.LabelFor(m => m.OldPassword, new {@class="control-label col-md-2"})
    <div class="col-md-9">
        @Html.PasswordFor(m => m.OldPassword, new {@class="form-control"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.NewPassword, new {@class="control-label col-md-2"})
    <div class="col-md-9">
        @Html.PasswordFor(m => m.NewPassword, new {@class="form-control"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new {@class="control-label col-md-2"})
    <div class="col-md-9">
        @Html.PasswordFor(m => m.ConfirmPassword, new {@class="form-control"})
    </div>
</div>

