﻿@model personal_trainers.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

<div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new {@class="control-label col-md-2"})
    <div class="col-md-9">
        @Html.PasswordFor(m => m.NewPassword, new {@class="form-control"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new {@class="control-label col-md-2"})
    <div class="col-md-9">
        @Html.PasswordFor(m => m.ConfirmPassword, new {@class="form-control"})
    </div>
</div>

