﻿@model personal_trainers.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div id="loginForm" class="widget-container login2">
    <h2>Use a local account to log in.</h2>
    <div class="login-wrapper">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    @Html.TextBoxFor(m => m.UserName, new {@class="form-control"})
                    @Html.ValidationMessageFor(m => m.UserName)
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new {@class="form-control"})
                    @Html.ValidationMessageFor(m => m.Password)
              </div>
            </div>

            <div class="text-left">
                <div class="boolean optional user_remember_me">
                    <input name="RememberMe" type="hidden" value="false" />
                    <label class="boolean optional control-label checkbox" for="RememberMe">
                      <input class="boolean optional" id="RememberMe" name="RememberMe" type="checkbox" value="true" data-val="true"/>
                      <span>Keep me logged in</span>
                    </label>
                  </div>
            </div>
            <input type="submit" value="Log in" class="btn-lg btn-primary btn-block" />
        <p>
            @Html.ActionLink("Register", "Register", new {@class = "btn-lg btn-primary btn-block"}) if you don't have an account.
        </p>
    }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

