﻿@using Newtonsoft.Json
@using personal_trainers.Repository.Models
@using personal_trainers.ViewModels
@model personal_trainers.ViewModels.UserViewModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="widget-container">
    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
    @using (Html.BeginForm( ViewBag.ReturnUrl as string,"Account", FormMethod.Post, htmlAttributes: new { @class="form-horizontal", id="update-form" })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(p=>p.Id)
        <div class="form-group">
            
            @Html.LabelFor(m=>m.UserName, new {@class="control-label col-md-2"})
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.UserName, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="form-group">
                @Html.LabelFor(m=>m.FirstName, new {@class="control-label col-md-2"})
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.FirstName, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>
        <div class="form-group">
                @Html.LabelFor(m=>m.LastName, new {@class="control-label col-md-2"})
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.LastName, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="form-group">
                @Html.LabelFor(m=>m.Email, new {@class="control-label col-md-2"})
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
                @Html.LabelFor(m=>m.Telephone, new {@class="control-label col-md-2"})
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Telephone, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.Telephone)
            </div>
        </div>
        <div class="form-group">
                @Html.LabelFor(m=>m.DateOfBirth, new {@class="control-label col-md-2"})
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.DateOfBirth, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </div>
        </div>
        <div class="form-group">
                @Html.LabelFor(m=>m.Catchword, new {@class="control-label col-md-2"})
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Catchword, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.Catchword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m=>m.Tags, new {@class="control-label col-md-2"})
            <div class="col-md-9">
                <select id="TagsId" name="TagsId" multiple="multiple"></select>
                @Html.ValidationMessageFor(m => m.Catchword)
            </div>
        </div>
        <div id="experiences" class="form-group">
            <hr style="border-top: solid 1px #ccc; width: 90%;">

            <h3 class="pull-right col-md-11">Experience</h3>
            @for (int i = 0; i < Model.Experiences.Count; i++) {
                @(Html.EditorFor(m => m.Experiences.ToArray()[i]))
            }

            <span id="appended"></span>
            <a href="#" id="add-experience" data-url="/Account/DisplayExperience" class="pull-right col-md-10" style="margin: 15px;">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add new experience</a>
            <hr style="border-top: solid 1px #ccc; width: 90%;">
        </div>

        @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial", Model.PasswordModel) : Html.Partial("_SetPasswordPartial", Model.PasswordModel))
        <div class="form-group">
            <label class="control-label col-md-2">&nbsp;</label>
            <div class="col-md-7">
                <input type="submit" value="Update Account" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ManageAccount")
<script>
    $(document).ready(function() {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Account/GetTags",
                    dataType: "json"
                }
            }
        });
        $("#TagsId").kendoMultiSelect({
            dataSource: dataSource, 
            autoBind: false,
            filter: "contains",
            value: @(Html.Raw(JsonConvert.SerializeObject(Model.Tags))),
            dataTextField: "Description",
            dataValueField: "Id"
        });
        
        $('#add-experience').on('click', function(evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var url = $(this).data('url');

            $.get(url, function(data) {
                $('#appended').append(data);
                $('#EndDate').kendoDatePicker({format: "dd/MM/yyyy"});
                $('#StartDate').kendoDatePicker({format: "dd/MM/yyyy"});
            });
        });
    });
</script>

}
