﻿<!-- start:Header -->
@if (!WebSecurity.IsAuthenticated )
{
  <div class="navbar navbar-fixed-top scroll-hide">
      <!-- start:Navigation -->
        @Html.Partial("_Navigation")
        @Html.Partial("_Sidebar")
      <!-- end: Navigation-->
  </div>
}
else{
  <div class="navbar navbar-fixed-top scroll-hide navbar-simple">
      <!-- start:Navigation -->
        @Html.Partial("_Navigation")
        @Html.Partial("_Sidebar")
      <!-- end: Navigation-->
  </div>
}
  <!-- end: Header-->