﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/kendo")
        @Styles.Render("~/Content/font-awesome")
        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)
    </head>
@if(WebSecurity.IsAuthenticated){
    <body class="page-header-fixed bg-1 layout-boxed">
        @Html.Partial("_Header")
        <div class="modal-shiftfix" id="body">
            <div class="container-fluid main-content">
                <div class="col-lg-12">
                    @RenderSection("featured", required: false)
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
}
else{
    <body class="page-header-fixed bg-1 layout-boxed sidebar-nav">

        @Html.Partial("_Header")
        <div class="modal-shiftfix" id="body">
            <div class="container-fluid main-content">
                <div class="col-lg-12">
                    @RenderSection("featured", required: false)
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>

}
</html>