﻿@using personal_trainers.Helpers
<div class="pull-right">
    <!-- start: Header Menu -->
    <ul class="nav navbar-nav pull-right">
    @if (Request.IsAuthenticated)
    {
        <li class="dropdown user hidden-xs">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                @User.Identity.Name
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/Account/Manage">
                        <i class="fa fa-user"></i>My Account
                    </a>
                </li>
                <li><a href="#">
                        <i class="fa fa-gear"></i>Account Settings</a>
                </li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fa fa-sign-out"></i>Logout</a>
                            }
                </li>
            </ul>
        </li>
        if(User.IsInRole("Admin"))
        {
            <li><%= link_to 'Admin', users_path, :class=>'btn'  %></li>
        }

    }
    else{
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="btn btn-small btn-primary", style="height: 40px; margin-top:3px; line-height: 20px" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="btn btn-small btn-info", style="height: 40px; margin-top:3px; line-height: 20px" })</li>
    }
  </ul>
</div>