﻿<div class="container-fluid top-bar">
  <div class="pull-right">
    <!-- start: Header Menu -->
      <ul class="nav navbar-nav pull-right">
        @Html.Partial("_LoginPartial")
      </ul>
</div>
<div class="logo">
    <p class="site-title">@Html.ActionLink("Trainering", "Index", "Home")</p>
</div>
</div>
