﻿@using personal_trainers.Helpers
@if (WebSecurity.IsAuthenticated && User.IsInRole("pu"))
{
<div class="container-fluid main-nav clearfix">
  <div class="nav-collapse">
    <ul class="nav">
      <li>
        <a href="#"><span class="glyphicon glyphicon-home"></span>Inicio</a>
      </li>
      <li><a href="#">
        <span class="glyphicon glyphicon-calendar"></span>Mis entrenamientos</a>
      </li>
      <li class="dropdown"><a data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-globe"></span>Noticias</a>
      </li>
      <li class="dropdown"><a data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-inbox"></span>Mensajes</a>
      </li>
      <li class="dropdown"><a data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-shopping-cart"></span>Tienda</a>
      </li>
    </ul>
  </div>
</div>
}

else if(User.IsInRole("pt"))
{
    <div class="container-fluid main-nav clearfix">
        <div class="nav-collapse">
            <ul class="nav">
                <li>
                    <a href="#"><span class="ico_dashboard"></span>Inicio</a>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">
                        <span class="ico_weight"></span>Area de trabajo
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">
                                <span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;&nbsp;Fabrica de entrenamientos</a>
                        </li>
                        <li><a href="#">
                                <span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;&nbsp;Mis Documentos</a>
                        </li>
                        <li><a href="#">
                                <span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;&nbsp;Entrenamientos</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">
                        <span class="ico_shoe"></span>Mis Pupilos</a>
                </li>
                <li><a href="#">
                        <span class="ico_calendar"></span>Calendario</a>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" href="#">
                                         <span class="ico_news"></span>Noticias</a>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" href="#">
                                         <span class="ico_message"></span>Mensajes</a>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" href="#">
                                         <span class="ico_shop"></span>Tienda</a>
                </li>
            </ul>
        </div>
    </div>
}
